services:
  sql_feedback:
    build:
      context: .
      dockerfile: sql_feedback/Dockerfile
    environment:
      OPENAI_API_KEY: 1234
      BASE_URL: https://llm.example.org/v1
      MODEL: mistralai/Ministral-3-14B-Instruct-2512

  persistence_proxy:
    build:
      context: .
      dockerfile: persistence_proxy/Dockerfile
    environment:
      DATABASE_URL: postgresql://postgres:1234@db
      UPSTREAM_URL: http://sql_feedback:8080/api/v1/feedback
      SQL_RUNNER_URL: http://sql_runner:8080/api/v1/run
    ports:
    - 8080:8080
    depends_on:
    - db
    - sql_feedback
    - sql_runner

  db:
    image: library/postgres:17
    environment:
      POSTGRES_PASSWORD: 1234 # CHANGE FOR PROD
    volumes:
    - ./db:/var/lib/postgresql

  sql_runner:
    build:
      context: .
      dockerfile: sql_runner/Dockerfile
    environment:
      DB_HOST: runner_posgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      PASSWORD_HASH_KEY: 653789d76353cdd769edd04015efb6c8ad28669aa5c4b47af7ce9fe79177be79 # CHANGE FOR PROD
      #RUST_LOG: debug
    ports:
     - 8081:8080
    depends_on:
      - runner_posgres

  runner_posgres:
    image: library/postgres:17
    environment:
      POSTGRES_PASSWORD: postgres # CHANGE FOR PROD
    volumes:
    - ./runner-db:/var/lib/postgresql

